<h1>Home#index</h1>

<p>When you add a <%= link_to 'comment', comments_path %> it should appear <%= link_to 'here', root_path %> for all users.</p>

<%= react_component "CommentList", { comments: Comment.all }, { prerender: true } %>
